# See https://github.com/github/gitignore

# macOS/OS X
## General
.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
Icon

## Thumbnails
._*

# VSC
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Go
## Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

## Test binary
*.test

## Output of coverage
*.out
